<% include ../partials/head %>

<% if (user) { %>

  <div>
    <form class="form-inline mb-3">
      <a href="/books/add" class="btn btn-primary mr-auto">Add book</a>

      <span class="float-right">
        <input class="form-control" type="search" placeholder="enter book title..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </span>
    </form>
  </div>

  <div class="row">
  <% if (books.length > 0) { %>
  <% books.forEach(function (book) { %>
    <div class="col-sm-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= book.title %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= book.author %></h6>
          <p><strong><%= book.date %></strong></p>
          <p><%= book.details %></p>
          <p>Status: <%= book.status %> <strong>(0/100)</strong></p>
          <p class="text-right">
            <a class="btn btn-primary" href="/books/show/<%= book.id %>">Show</a>
          </p>
        </div>
      </div>
    </div>
  <% }) %>
  </div>

  <% if (pages > 0) { %>
    <ul class="pagination text-center">
        <% if (current == 1) { %>
            <li class="page-item disabled">
              <a class="page-link">First</a>
            </li>
        <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/books/1">First</a>
            </li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="page-item disabled">
              <a class="page-link">...</a>
            </li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="page-item active">
                  <a class="page-link"><%= i %></a>
                </li>
            <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="/books/<%= i %>"><%= i %></a>
                </li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled">
                  <a class="page-link">...</a>
                </li>
            <% } %>
        <% } %>
        <% if (current == pages) { %>
            <li class="page-item disabled">
              <a class="page-link">Last</a>
            </li>
        <% } else { %>
            <li>
              <a class="page-link" href="/books/<%= pages %>">Last</a>
            </li>
        <% } %>
    </ul>
  <% } %>


  <% } else { %>
    <p>Currently there are no books, add new book.</p>
  </div>
  <% } %>

<% } else { %>
  <h1>Example App: Home</h1>
  <a href="/users/register" class="btn btn-light">Register</a>

  <a href="/users/login" class="btn btn-light">Login</a>
<% } %>

<% include ../partials/footer %>