<% include ../partials/head %>

<a href="/reviews" class="btn btn-secondary mb-3">Back</a>

<div class="card card-body home-color">
  <h1><%= review.title %></h1>

  <div class="blog-post">
    <h5 class="blog-post-title"><%= review.date %> by <a href="/users/show/<%= review.user.id %>"><%= review.user.name %></a></h5>
      
    <p><%= review.body %></p>
    <hr>

    <h3>Comments</h3>

    <% if (user) { %>
      <h5>Add comment</h5>
      <form action="/reviews/<%= review.id %>/comment" method="POST" class="mb-3">
        <div class="form-group">
          <label for="comment">Comment: </label>
          <textarea class="form-control" name="comment" required></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Post</button>
      </form>
    <% } %>

    <% if (review.comments.length > 0) { %>
      <% review.comments.forEach(function (comment) { %>
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><strong><a href="/users/show/<%= comment.commentUser.id %>"><%= comment.commentUser.email %></a></strong> at <%= comment.commentDate %></h6>
            <%= comment.commentBody %>
          </div>
        </div>
      <% })} else { %>
        <p>Currently there are no comments.</p>
      <% } %>
      <br>

    </div><!-- /.blog-post -->
</div>

<% include ../partials/footer %>